<h1>{{ title }}</h1>
<div class="players-container">
  <span *ngFor="let player of players" class="player-span">
    <div *ngIf="player.photo; else noPhotoBlock">
      <img
        src="{{ player.photo }}"
        alt="{{ player.name }} photo"
        class="photo"
      />
    </div>
    <ng-template #noPhotoBlock>
      <img src="../assets/nn.jpg" alt="{{ player.name }} photo" class="photo" />
    </ng-template>

    <div class="name">
      <div [ngSwitch]="player.sport">
        <img
          *ngSwitchCase="'basketball'"
          src="../assets/basketball.png"
          alt="basketball icon"
        />
        <img
          *ngSwitchCase="'boxing'"
          src="../assets/boxing.png"
          alt="boxing icon"
        />
        <img
          *ngSwitchCase="'football'"
          src="../assets/footbal.png"
          alt="footbal icon"
        />
        <img *ngSwitchCase="'golf'" src="../assets/golf.png" alt="golf icon" />
        <img
          *ngSwitchCase="'soccer'"
          src="../assets/soccer.png"
          alt="soccer icon"
        />
        <img
          *ngSwitchCase="'tennis'"
          src="../assets/tennis.png"
          alt="tennis icon"
        />
        <img *ngSwitchDefault src="../assets/default.png" alt="default icon" />
      </div>

      <span
        ><strong>{{ player.name }}</strong></span
      >
    </div>

    <span>Age: {{ player.age }}</span>
    <span>Salary: {{ player.salary }}M</span>
  </span>
</div>
